<% include ../partials/head %>
<%var tab = "Dogs" %>
<% include ../partials/header %>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
  <%var i %>
  <% for(i = 0; i < files.length;i++){ %>
    <% if(i == 0){ %>
      <li data-target="#demo" data-slide-to="0" class="active"></li>
    <% } else { %>
      <li data-target="#demo" data-slide-to= <%= i.toString() %></li>></li>
    <% } %>
  <% } %>
  </ul>

  <!-- The slideshow -->
  <%var x %>
  <div class="carousel-inner">
    <% for(x = 0; x < files.length; x++){ %>
      <% if(x == 0){ %>
        <div class="carousel-item active">
          <img src="/images/<%= dog.name %>/<%=files[0] %>" class = "carousel_img">
        </div>
      <% } else{ %>
        <div class="carousel-item">
          <img src= "/images/<%= dog.name %>/<%=files[x] %>" class = "carousel_img">
        </div>
      <% } %>
    <% } %>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class = "bio">

  <h2 class="display-2"><%= dog.name %></h2>

  <%# if this dog has two breeds %>
  <% if (!dog.hasOwnProperty("secondBreed")) { %>
    <h4 class="display-4"><%- link_to(dog.breed, "https://" + dog.link) %></h4>
  <% } else { %>
    <h4 class="display-4">A mix of <%- link_to(dog.breed, "https://" + dog.link) %> and <%- link_to(dog.secondBreed, dog.secondLink) %></h4>
  <% } %>
</div>
<p class = "biotext">
    <%= dog.bio %>
</p>
<% if (loggedIn) { %>
  <div onclick = "favoriteDog()"><i  class = "fa fa-heart fa-4x" id = "heartIconDetail"> </i></div>
<% } else { %>
  <div><a href = "/login" class = "fa fa-heart fa-4x" id = "heartIconDetail"> </a></div>
<% } %>
<br />
<br />

<% include ../partials/footer %>
