<% include ../partials/head %>
<% include ../partials/header %>
<div class = "listbg">
  <div class="container-fluid bigtext">
  	<h2 class="display-2 displayText">Click on any dog to learn more</h2>
  </div>

  <div class = "centeredBoxes" >
    <% dogs.forEach(function(dog) { %>
      <div class = "box bg-primary">
        <!-- <img src = <% "/images/" + dog.name + " /profile.*" %> class = "profileImage rounded-circle "> --> <!-- does .* work?? -->
        <img src = "/images/<%= dog.name %>/profile.jpg" class = "profileImage rounded-circle ">

        <%# getting the breeds %>
        <% if (dog.breed2 == null) { %>
          <p> Breed: <%= dog.breed1 %> </p>
        <% } else { %>
          <p> Breed: <%= dog.breed1 %> <br /><%= dog.breed2 %> </p>
        <% } %>

        <%# as far as i can tell, no classes with link to... %>
        <p>Name: <a class = "dognamelink" href="/dogs/<%= dog.dogID %>"><%= dog.name %></a></p>
      </div>
    <% }); %>
  </div>
</div>
<% include ../partials/footer %>
