<% include ../partials/head %>
<%var tab = "Dogs" %>
<% include ../partials/header %>
<div class = "listbg">
  <div class="container-fluid bigtext">
  	<h2 class="display-2 displayText">Click on any dog to learn more</h2>
  </div>

  <div class = "centeredBoxes" >
    <% dogs.forEach(function(dog) { %>

      <%# Linking using the div this way won't work without html 5!! %>

      <a href = "/dogs/<%= dog.dogID %>">
      <div class = "box bg-primary">
        <img src = "/images/<%= dog.name %>/profile.jpg" class = "profileImage rounded-circle ">

        <h5 class = "display-5"><a class = "dognamelink" href="/dogs/<%= dog.dogID %>"><%= dog.name %></a></h5>                  
        <%# getting the breeds %>
        <% if (dog.breed2 == null) { %>
          <p> <%= dog.breed1 %> </p>
        <% } else { %>
          <p> <%= dog.breed1 %> <br /><%= dog.breed2 %> </p>
        <% } %>
      </div>
      </a>
    <% }); %>
  </div>
</div>
<% include ../partials/footer %>
