<% include ../partials/head %>
<%var tab = "Dogs" %>
<% include ../partials/header %>
<script src = "/scripts/admin.js"></script>
<div class="table-responsive">
<table class="table table-striped table-bordered">
  <tr>
    <th>Comment ID</th>
    <th>Comment Text</th>
    <th>Reaon</th>
    <th>Link</th>
    <th>Dismiss</th>
    <th>Delete Comment</th>
  </tr>
  <% comments.forEach(function (comment) { %>
    <tr>
      <td> <%= comment.commentID %> </td>
      <td> <%= comment.comment %> </td>
      <td> <%= comment.reason %> </td>
      <td> <a href="/dogs/<%= comment.dogID %>">Dog Page</a></td>
      <td><button type="button" class="btn btn-success" onclick="dismissReport(<%= comment.commentID %>, <%= comment.reporterID %>)">Dismiss Complaint</button></td>
      <td><button type="button" class="btn btn-danger" onclick="deleteReportedComment(<%= comment.commentID %>, <%= comment.reporterID %>)">Delete Comment</button></td>
    </tr>
  <% }); %>
</table>
</div>
<% include ../partials/footer %>
